website/FORMAI/src/classification/mysecrets.py 
website/FORMAI/src/classification/dataset 
website/FORMAI/node_modules 
website/node_modules 
website/FORMAI/src/classification/dataset 
website/FORMAI/src/classification/models 
__pycache__/  
dataset_out  
website/FORMAI/.env.development

